$logoColor: #3f5ba1;
$checkboxColor: #6161b4;
$checkboxBorderColor: #bfbfbf;
$addTaskBtnColor: #1c9de7;
$clearTaskBtnColor: #424244;
$taskLineHoverColor: #edf3ff;
$bodyColor: #f7f7f7;
$desktop: "(max-width: 1500px)";
$tablet: "(max-width: 768px)";
$phone: "(max-width: 576px)";
